[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = {extras = ["diskcache"], version = "*"}
plotly = "*"
pandas = "*"
sqlalchemy = "==1.4"
psycopg2-binary = "*"
dash_bootstrap_components = "*"
gunicorn = "*"
python-dotenv = "*"
dash-auth = "*"
geopandas = "*"
fiona = "*"
pyogrio = "*"
dash-extensions = "*"

[dev-packages]
jupyter = "*"
black = "*"
ipython = "*"
folium = "*"
mapclassify = "*"
isort = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
