body {
    margin: 0;
    padding: 0
}

#layout-container {
    padding: 20px 120px;
}

.row {
    margin-bottom: 20px;
    justify-content: center;
    justify-content: space-around;
}



.col-framed {
    border-width: 2px 2px 2px 6px;
    border-color: #979797;
    border-style: solid;
}

input#siret {
    width: 180px;
    border: 1px solid grey;
    font-size: 20px;
    margin-left: 20px;
}

h2 {
    color: #000091 !important;
}

@media (min-width: 992px) {

    .col-lg-3 {
        width: 32%;
    }


}

@media (min-width: 768px) and (max-width: 991px) {


    .col-md-5 {
        width: 48%;
    }

}

@media (min-width: 576px) and (max-width: 767px) {

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }


}