body {
    margin: 0;
    padding: 0
}

#layout-container {
    padding: 20px 5%;
}

.row {
    margin-bottom: 20px;
    justify-content: space-around;
}


.col-framed {
    border-width: 2px 2px 2px 6px;
    border-color: #979797;
    border-style: solid;
}


#form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#siret-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#siret-input-container label {
    width: fit-content;
}

#siret-input-container input {
    max-width: 200px;
}

#siret-input-container * {
    margin: 0 10px;
}

#layout-container.printing {
    width: 210mm;
    padding: 2mm;
}


h2 {
    color: #000091 !important;
}

#layout-container.printing #form-container {
    display: none;
}

#layout-container.printing .col-print {
    width: 48%;
    margin: 1mm;
    page-break-inside: avoid;
}

#layout-container.printing .row {
    margin-bottom: 0;
}

#layout-container.printing h2 {
    font-size: 20px;
    margin-bottom: 1mm;
    line-height: initial;
}

#layout-container.printing .page-break {
    justify-content: center;
    page-break-before: always;
}

#layout-container.printing #bordereaux-data-section {
    page-break-before: always;
}

#layout-container.printing #stock-data-section {
    page-break-before: always;
}

#layout-container.printing #stock-data-section h2 {
    margin: 0;
}

#layout-container.printing .sc-outlier-date-download-button {
    display: none;
}

#layout-container.printing #traceability-interruption-component {
    width: 95%;
}

#layout-container.printing #icpe-items-component {
    width: 95%;
}

.no-data-message {
    text-align: center;
}


@media (min-width: 992px) {

    .col-lg-3 {
        width: 32%;
    }

    .col-lg-5 {
        width: 48%;
    }

}

@media (min-width: 768px) and (max-width: 991px) {


    .col-md-5 {
        width: 48%;
    }

}

@media (min-width: 576px) and (max-width: 767px) {

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }


}