body {
    margin: 0;
    padding: 0
}

#layout-container {
    margin: 20px 120px;
}

.row {
margin-bottom: 10px
}

.row.framed {
    border: 1px #ccc solid;
    padding: 12px;
}

.bsd_summary {
    width: 100%;
}
.bsd_summary td:last-of-type {
    text-align: right;
}

.bsd_summary td:first-of-type {
    font-family: 'Marianne-Bold', sans-serif;
}

.flex {
    display: flex;
}

.side-total {
    text-align: right
}

.side-total p {
    font-size: 1.2em;
    color: #777;
}

.side-total > * {
    list-style-type: none;
    padding: 0;
    margin: 12px 0 0 20px;
    font-size: 1.0em;
}

.side-total span {
    font-size: 1.6em;
}

.source-code {
    text-align: right;
    margin-top: 40px;
}

input#siret {
    width: 180px;
    border: 1px solid grey;
    font-size: 20px;
    margin-left: 20px;
}

.medium-number {
    font-size: 1.5em;
    margin-right: 1rem;
}




/* Bordereaux stats component */

.large-number {
    font-size: 2em;
    margin-right: 1rem;
}

.large-number-xl {
    font-size: 5em;
    margin-right: 1rem;

}

.stats-primary {
    margin: 20% 0;
}

.stats-secondary{
    margin-bottom: 10%;
}

.stats-secondary p {
    margin: 0
}

.bs-stats-number-incoming {
    grid-column:1 / -1;
    margin-bottom: 0;
}

.bs-weight-bars{
    display: grid;
    grid-template-columns: repeat(110, 1fr);
    grid-auto-rows: minmax(20px, auto);
    grid-row-gap: 5px;

}

.bs-complete-bar {
    grid-column: 1 / 111;
    background-color: hsl(212, 93%, 57%, 0.5);
}

.bs-bar-consumed {
    grid-row: 3/4;
    background-color: hsl(148, 100%, 27%, 0.7);

}

.bs-bar-stock {
    grid-row: 3/4;
    background-color: hsl(45, 98%, 62%, 0.8);
}

.bs-bar-consumed-error {
    grid-row: 3/4;
    background-color: #8a0007;
    
}



.bs-bar-number-outgoing p,.bs-bar-number-stock  p {
    margin: 0;
}

.bs-bar-number-outgoing {
    grid-column: 1 / 50;
    grid-row: span 2 / 6;
    text-align: left;
}

.bs-bar-number-stock {
    grid-column: 60 / 111;
    grid-row:span 2 / 6;
    text-align: right;
}


 /*
 ==================================
 Related to the FR design system
 ==================================
 */

/* Force blue-france color on headings */
#layout-container h1, #layout-container h2, #layout-container h3 {
    color: rgb(0, 0, 146);
}

/* Can't add bold style to Plotly figure title, but can specify font family (https://plotly.com/python/reference/layout/).
Copied and renamed from DSFR core CSS */
@font-face {
  font-family: 'Marianne-Bold';
  src: url("dsfr_dist/fonts/Marianne-Bold.woff2") format("woff2"), url("dsfr_dist/fonts/Marianne-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.bold {
  font-family: 'Marianne-Bold', sans-serif;
}



/* fr-callout customization */

#layout-container .fr-callout {
    padding: 2rem 2rem;

    /* To avoid flex shrinking due to .flex */
    width: 100%;
}

.callout-number {
    font-size: 3rem;
    font-family: "Marianne-Bold", sans-serif;
    text-align: right;
    margin-top: 3rem;
    color: var(--text-title-grey);
}

.small-number {
    font-size: 2.5rem;
}
.smaller-number {
    font-size: 2rem;
}

.number-text {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
}

.callout-number .plot-container {
    background-color: var(--background-contrast-grey);
}

/*
Tweaks for individual graphs
*/

.legendtitletext {
    display:none
}

.gtitle {
    font: 22px "Marianne-Bold";
    color: black;
}


/*
Bootstrap breakpoints:
https://getbootstrap.com/docs/5.1/layout/breakpoints/#available-breakpoints */

/* Reduce the big callout number size above lg and below 1100px */
@media (min-width: 991.98px) and (max-width: 1100px)   {
    .callout-number {
        font-size: 2rem
    }
}

/* Reduce the big callout number size for md and below */
@media (max-width: 768px) {
    .callout-number {
        font-size: 2rem
    }
}

/*
SPECIFIC to print
*/

@media print {
    @page {
        margin: 5mm;
    }
    

    #layout-container {
        max-width: 210mm;
        margin: 0;
    }

    .no_print {
        display: none;
    }
}
